input {
  generator {
   threads => "${THREADS}" 
   message => "test"
   count => "${DOCS_PER_THREAD}"
  }
}
filter {
    sleep {
      time => "5"   
      every => 1000  
    }
  }
output {
  elasticsearch {
     hosts => ['elasticsearch-hot:9200'] 
     ilm_enabled => "false"
     index => 'test'
     action => create
  }
  stdout { codec => dots }
}
